* {margin: 0;padding: 0; box-sizing: border-box;}
*::before {box-sizing: border-box;}
*::after {box-sizing: border-box;}
ul, ol {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
a { text-decoration: none; color: inherit; }
pre {
  font-family: "Fira Code Medium", Consolas, monospace;
}
tr,td{border-style: none;}
$padding: 16px;
$main-color:rgb(80,5,223);
$border-color: #eee;
body {
  font-size: 16px;
}
.site-page {
  background: #ffffff;
  min-height: 100vh;
}
.site-main {
  padding-top: 16px;
  overflow-y: auto;
  max-height:calc(100vh - 64px);
  background-color:#F7F8FA;
  .card{
    max-width:860px ;
    min-width: 430px;
    margin-bottom: 24px;
    margin-left:24px;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0,0,0,0.1);
  }
  .propertyDescription{
    width: 100%;
    border-spacing:0 ;
    td{
      font-size: 14px;
      padding: 10px;
      box-shadow: 0 0 1px rgba(0,0,0,0.8);
      white-space: nowrap;
    }
    td:last-child{
      white-space: pre-wrap;
    }
    >thead{
      background-color: #f8f8f8;
      font-weight: bold;
    }
  }
}
.site-header {
  background: $border-color;
  padding: 8px 0;
  .logo {
    padding: 0 $padding;
    display: flex;
    align-items: center;
    > img {margin-right: 8px;}
    > span {
      color: $main-color;
      font-size: 32px;
    }
  }
}
.site-aside {
  border-right: 1px solid #EEEEEE;
  margin-right: 6px;
  h2 {
    padding: $padding;
    font-size: 18px;
    font-weight: bold;

  }
  ul {
    min-width: 12em;
    > li {
      &:hover {
        border-right: 3px solid $main-color;
      }
      a {
        color: #333;
        display: block;
        padding: 8px $padding;
        &:hover {
          color: $main-color;
        }
        &.active {
          color: white;
          background: $main-color;
        }
      }
    }
  }
}
.site-footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 16px 0;
  border-top: 1px solid $border-color;
  display: none;
}
.example {
  padding: 10px 0;
}
.codePrint{
  pre{
    white-space: pre-wrap;
  }
}
.site-code{//代码展示样式
  p{
    padding: 1em 0;
  }
  pre{
    font-family: "Fira Code", monospace;
    font-size: 14px;
    padding: 16px;
    background: #eee;
    display: block;
  }
}